<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Ready Bus</h1>
        <h2>Site Under Construction</h2>
        <br>
        <p>
            <%= button_to 'Book Bus NOW', '/search', :method => :get, :class => "btn btn-primary btn-lg" %>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Why queue, when you can book now</h3>
            <p>Travel to your destination easily by booking bus seat with us</p>
        </div>
        <div class="col-lg-6">
            <h3>Easy pay</h3>
            <p>Pay easily with your debit/credit card</p>
        </div>
    </div>
</div>