<% if current_user.admin_role? %>
    <h1>Editing Traveler</h1>

    <%= render 'form', traveler: @traveler %>

    <%= link_to 'Show', @traveler, :class => "btn btn-primary btn-sm" %> |
    <%= link_to 'Back', travelers_path, :class => "btn btn-primary btn-sm" %>
<% end %>